<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAKAO</title>
</head>
<body>
    <h2>결제 완료</h2>
    <a href="http://flutterURL">이동</a>
    <script>
        window.addEventListener('load', (_) => setTimeout(()=> {
            try {
                james.postMessage('true');
            } catch (error) {
                location.replace('/reactcdn');
            }
        }, 2000));
    </script>
</body>
</html>